/* Phòng tập */
.left-gym-centers-content {
    float: left;
    width: 40%;
    height: 100%;
    position: relative;
}

.right-gym-centers-content {
    float: right;
    width: 60%;
    height: 100%;
    position: relative;
}

/** Google Map**/
.mapouter {
    left: 5px;
    right: 120px;
    top: 5px;
    bottom: 64px;
    position: absolute;
    text-align: right;
}

.gmap_canvas {
    border-radius: 16px;
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 100%;
}

.gmap_iframe {
    height: 100% !important;
}

/**HLV**/
.gym-centers-list {
    left: 128px;
    right: 5px;
    top: 64px;
    bottom: 64px;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
    gap: 16px;

    overflow-y: auto;
    overflow-x: hidden;
}

.gym-centers-list .element {
    background-color: var(--dark3);
    border-radius: 16px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;

    height: 128px;

    flex: none;
    flex-grow: 0;
}

.gym-centers-list .element .avatar {
    height: 96px;
    width: 96px;

    border-radius: 50%;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.gym-centers-list .element .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: calc(100% - 96px);
    height: 85px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.gym-centers-list .element .info .name {
    width: 100%;
    height: 29px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.gym-centers-list .element .info .pro-pos {
    width: 100%;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.gym-centers-list .element .info .rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 100%;
    height: 16px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.gym-centers-list .element .info .rating star {
    width: 16px;
    height: 16px;
    background: url("../imgs/image\ 6.png");
    flex-grow: 0;
}